@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

.fala {
    width: 185px;
    height: 80px;
    left: 113px;
    top: 120px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    /* or 111% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
}

span.barra {
    position: absolute;
    width: 180px;
    height: 3px;
    left: 17px;
    top: 85px;

    background: #FF29EA;
}

.destaques a:hover {
    background-image: linear-gradient(90deg, #18A0FB 0%, #6118FB 17.19%, #810AAB 30.73%,
    #FF00B8 48.44%, #FF0D0D 65.1%, #FFE600 82.29%, #42AB11 100%) !important;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.more, .fem, .masc, .infan, .ver-mais {
    position: absolute;
    width: 91px;
    height: 16px;
    left: 50px;
    top: 130px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: rgba(0, 0, 0, 0.5);
}

.fem {
    position: absolute;
    width: 58px;
    height: 16px;
    top: 170px;
}

/* Masculino */
.masc {
    position: absolute;
    width: 65px;
    height: 16px;
    top: 210px;
}

/* Infantil */
.infan{
    position: absolute;
    width: 44px;
    height: 16px;
    top: 250px;
}

.ver-mais {
    position: absolute;
    width: 60px;
    height: 16px;
    left: 80px;
    top: 450px;
}

.banner-destaque{
    position: absolute;
    width: 283px;
    height: 500px;
    left: -20% !important;
    top: 0px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.73) 92.19%);
}

.banner-destaque img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.banner-destaque button {
    position: absolute;
    left: 27%;
    right: 62%;
    top: 66.54%;
    bottom: 27.19%;

    width: 130px;
    height: 40px;

    background: #FF29EA;
    border-radius: 6px;
    border: none;
    z-index: 2;
}

.text-btn {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 17,07px;
    letter-spacing: -1,5%;
}